.controls{

display:flex;

justify-content:center;

align-items:center;

gap:28px;

margin-top:25px;

}

.controls button{

width:60px;

height:60px;

border:none;

border-radius:50%;

background:white;

font-size:22px;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.25s;

}

.controls button:hover{

transform:scale(1.08);

}

.play{

width:72px!important;

height:72px!important;

background:#FF7DA2!important;

color:white;

}