.popupOverlay{

animation:

fadeOverlay .35s;

}

.popup{

animation:

popup .45s;

}

@keyframes popup{

from{

opacity:0;

transform:

translateY(25px)

scale(.92);

}

to{

opacity:1;

transform:

translateY(0)

scale(1);

}

}

@keyframes fadeOverlay{

from{

opacity:0;

}

to{

opacity:1;

}

}